html,
body {
  height: 100%;
  width: 100%;
}

body {
  min-width: 320px;
}

.container {
  padding: 0 1.25rem;
  max-width: 1240px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
}

nav {
  * {
    font-family: 'Teko';
  }

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    margin: 0;
    list-style: none;
    font-size: inherit;
    text-transform: uppercase;
  }
}
