@font-face {
  font-family: 'Teko';
  src: local('Teko'), url(~assets/fonts/Teko/Teko-Light.ttf) format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Teko';
  src: local('Teko'),
    url(~assets/fonts/Teko/Teko-Regular.ttf) format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Teko';
  src: local('Teko'), url(~assets/fonts/Teko/Teko-Medium.ttf) format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Teko';
  src: local('Teko'),
    url(~assets/fonts/Teko/Teko-SemiBold.ttf) format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Teko';
  src: local('Teko'), url(~assets/fonts/Teko/Teko-Bold.ttf) format('truetype');
  font-weight: 700;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Teko', Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1em;
  color: $black;
}

h1,
h2 {
  text-transform: uppercase;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.875rem;
  margin-bottom: 1.125rem;
}

h4,
h5,
h6 {
  text-transform: uppercase;
  color: $grey;
}

@include for-tablet-landscape-up {
  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 3.75rem;
  }
}

p,
li {
  font-size: 1.0625rem;
  line-height: 1.6875rem;
}

a {
  color: $blue;
  text-decoration: none;
}

label {
  font-family: 'Teko';
  color: $lightgrey;
  font-size: 1.875rem;
}

select {
  display: inline-block;
  font-family: 'Teko';
  font-size: 1.875rem;
  font-weight: 500;
  text-transform: lowercase;
  line-height: 1em;
  height: 1.125em;
  color: $black;
  border: none;
  border-bottom: 1px solid $black;
  background-color: transparent;
}

// Alignments
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
